<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokedex</title>
    <link rel="stylesheet" type="text/css" href="/static/css/search.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
    crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-warning">
      <div class="container">
        <a href="#" class="navbar-brand">Search Your Pokemon</a>

        <button
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#mainNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/" class="nav-link active">Pokedex</a>
            </li>
            <li class="nav-item">
              <a href="/" class="nav-link">Adopt&Rescue</a>
            </li>
            <li class="nav-item">
              <a href="/" class="nav-link">Emergency Help</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container text-center mt-3">
      <h1 class="display-1">Search your Pokemon here...</h1>
    </div>
    <form method="POST" action="/">
      <div class="container">
        <div class="row mx-5 mt-3" style="padding-left: 50px; padding-right: 50px;padding-top: 50px;">
            <input type="post" class="form-control" name="pokemon" placeholder="Eg. Pikachu" aria-label="default input example">
        </div>
          
        </div>
      </div>
      <br />
      <div class="container text-center">
        <button type="submit" class="btn btn-primary">Confirm identity</button>
      </div>
      <div class="container">
        <h1 class="lead text-center mt-8">

          <div class="container text-center">
              <p class="text-center mb-5" style="font-size: 50px;">
                {{pokemon}}
              </p>
              <div class="row">
                <div class="col-sm-6">
                  {{pokedex.image | safe}}
                </div>
                <div class="col-sm-6 mt-5">
                  {{pokedex.basic_info}}
                </div>
              </div>
          </div>
          
          <div class="row mt-5">
            <div class="col-sm-6 mt-5">
              {{pokedex.pokedex_data | safe}}
            </div>
            <div class="col-sm-6 mt-5">
            <h2>Base Stats</h2> <br>
              <div class="div" style="margin-left: 120px; font-size: 30px;">{{pokedex.base_stats | safe}}</div>
            </div>
          </div>

        </h1>
      </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
    crossorigin="anonymous">
    </script>
  </body>
</html>